body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.wrapper {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.content-wrapper {
	width: 930px;
	background-color: #fff;
	padding: 30px 15px;
}

.content-wrapper {
    border-radius: 10px;
}

.content-wrapper--shadow {
	box-shadow: 3px 4px 10px rgba(186, 186, 186, 0.44);
}

.related {
	padding-top: 51px;
	padding-bottom: 30px;
	background-color: transparent;
}

.related__title {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 25px;
}

.hidden {
	display: none;
}