.admin-pannel-wrapper {
	position: absolute;
	display: block;
	top: 40px;
	right: 0;
	width: 200px;
	height: 51px;
	overflow: hidden;
}

.admin-pannel {
	position: absolute;
	top: 0px;
	right: -143px;
	display: flex;
    align-items: center;
    height: 51px;
    border-radius: 26px;
    background-color: #f5585c;
    padding: 0px 30px 0px 20px;
    transition: 0.4s ease-in;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    
    &:hover {
    	right: -20px;
    	text-decoration: none;
    }
}

.admin-pannel__icon {
	margin-right: 10px;
	width: 16px;
	height: 18px;
}