.header-bg {
	background: url("../img/bg/header-bg-building.jpg") top right no-repeat,	
				url("../img/bg/header-bg-repeat.png") top left repeat-x;
}

.admin-panel {
	width: 46px;
	height: 51px;
	position: absolute;
	right: 0px;
	background-repeat: no-repeat;
	background-image: url("../img/icons/plaha.png");
}

.admin-panel--lock:before {
    display: block;
    content: '';
    background-image: url(../img/icons/icon-unlocked-padlock.svg);
	background-repeat: no-repeat;
    background-size: 16px 18px;
    width: 16px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 15px;
}

.admin-panel--lock:hover:before {
    
}

.content-wrapper {
	width: 930px;
	background-color: #fff;
	padding: 30px 15px;
}

.header {
	padding-top: 110px;
	
}

.header__title {
	color: #ffffff;
	font-size: 42px;
	font-weight: 800;
	line-height: 1;
	margin: 0 0 18px;
}

.header__subtitle {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	margin: 0 0 36px;
}

.content-wrapper {
    border-radius: 10px;
}